@charset "UTF-8";

:root {
    --default-font: "Quicksand", "Segoe UI", sans-serif;
    --heading-font: "Josefin Sans", sans-serif;
    --nav-font: "Poppins", sans-serif;
    --dashboard-font: "Roboto", sans-serif;
}

:root {
    --color-500: #161c34; /* Medium */
    --color-700: #161c34; /* Bold */
    --color-default: #161c34; /* Normal */
}

body {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--default-font);
}

span,
p {
    font-family: var(--default-font);
}

/* ------------------------------------------------------------------------------------------------- */
/* LEFT SIDE */
/* ------------------------------------------------------------------------------------------------- */
#auth-left {
    min-height: 100vh;
    background-color: #161c34;
}

/* ------------------------------------------------------------------------------------------------- */
/* RIGHT SIDE */
/* ------------------------------------------------------------------------------------------------- */
#auth-right {
    min-height: 100vh;
    background-color: aliceblue;
}

#auth-card {
    width: 90%;
    height: auto;
}

.btn-login {
    /* background-color: #161c34; */
    font-weight: bold;
    font-family: var(--default-font);
    padding: 0.55rem 0.55rem;
    /* color: #ffffff; */
}
