@charset "UTF-8";

:root {
    --default-font: "Quicksand", "Roboto", "Segoe UI", sans-serif;
    --heading-font: "Josefin Sans", sans-serif;
    --nav-font: "Poppins", sans-serif;
}

:root {
    --color-dark: #161c34;
    --color-light: #f5f6fa;
}

body {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: var(--default-font);
}

small,
span,
p {
    font-family: var(--default-font);
}

/* ------------------------------------------------------------------------------------------------- */
/* LEFT SIDE */
/* ------------------------------------------------------------------------------------------------- */
#auth-left {
    min-height: 100vh;
    background-color: var(--color-dark);
}

/* ------------------------------------------------------------------------------------------------- */
/* RIGHT SIDE */
/* ------------------------------------------------------------------------------------------------- */
#auth-right {
    min-height: 100vh;
    background-color: var(--color-light);
}

#auth-card {
    width: 95%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 10px 75px rgba(0, 0, 0, 0.05);
}

.form-label {
    font-weight: 600;
}

.form-control,
.form-select {
    border-radius: 0.5rem;
    padding: 0.55rem 0.55rem;
}

.form-control:focus,
.form-select:focus {
    border-color: var(--warning-default);
    box-shadow: 0 0 0 0.1rem rgba(254, 193, 7, 0.25);
}

.btn-login {
    font-weight: bold;
    font-family: var(--default-font);
    border-radius: 0.5rem;
    padding: 0.55rem 0.55rem;
}

.btn-warning:hover {
    background-color: var(--warning-600);
    border-color: var(--warning-600);
}
