.required:before {
    content: "* ";
    color: red;
}

span.required::before {
    content: "* ";
    color: red;
}

label.required::before {
    content: "* ";
    color: red;
}

.badge-custom {
    display: inline-block;
    font-weight: normal;
    font-size: 80%;
    padding: 0.4rem 0.4rem;
    border-radius: 0.25rem;
}

